*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --title: #e53170;
    --text: #fffffc;
    --links: #00baf1;
    --bg-cards: #0f0e17;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    text-align: center;
    padding: 3rem;
}

h1{
    color: var(--title);
    font-size: 3rem;
}

.introduction{
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 3rem;
}

.cards{
    width: calc(100% / 3);
    float: left;
    background-color: var(--bg-cards);
    color: var(--text);
}

img{
    float:left;
    width: 100px;
    height: 100px;
}

.info{
    padding: 1em;
    float: left;
}

.info span{
    color: var(--links);    
}

.info span:hover{
    cursor: pointer;
}
